In [2]:
import pandas as pd

In [4]:

df1= pd.read_csv("data/JC-201801-citibike-tripdata.csv")
df2= pd.read_csv("data/JC-201802-citibike-tripdata.csv")
df3 = pd.read_csv("data/JC-201803-citibike-tripdata.csv")
df4 = pd.read_csv("data/JC-201804-citibike-tripdata.csv")
df5 = pd.read_csv("data/JC-201805-citibike-tripdata.csv")
df6 = pd.read_csv("data/JC-201806-citibike-tripdata.csv")
df7= pd.read_csv("data/JC-201807-citibike-tripdata.csv")
df8= pd.read_csv("data/JC-201808-citibike-tripdata.csv")
df9 = pd.read_csv("data/JC-201809-citibike-tripdata.csv")
df10 = pd.read_csv("data/JC-201810-citibike-tripdata.csv")
df11= pd.read_csv("data/JC-201811-citibike-tripdata.csv")
df12= pd.read_csv("data/JC-201812-citibike-tripdata.csv")

In [5]:
df1.shape

(12677, 15)

In [6]:
df2.shape

(15104, 15)

In [7]:
bikedata_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], axis=0)

In [8]:
bikedata_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20200,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.711130,-74.078900,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
20201,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
20202,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
20203,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.711130,-74.078900,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
20204,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [9]:
bikedata_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [10]:

# clean the df to have only the data with birth year over 1918 (under 100 years old)
bikedata_df = bikedata_df.loc[bikedata_df["birth year"] > 1918, :]

# reset index
bikedata_df = bikedata_df.reset_index(drop = True)

In [11]:

bikedata_df.to_csv('data/bikedata_2018.csv', index = False)